@import url(/css/global.css);
@import url(/css/styles.css);

table {
    border-collapse: collapse;
    
    background-color: antiquewhite;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(133, 182, 156);

}

th:first-child{
    color: white;
}

tr .description_col {
    background-color: #b3d67d;
    color: black;
}

aside img {
    width: 280px;
    border: 2px solid black;
}

.description {
    background-color: #ffebd8;
    padding: 15px 20px;
    margin: 15px 15px;

    border-radius: 20px;
}



